@model List<FMS.Core.Model.BillReceivable>
@{
    ViewData["Title"] = "Receipt List";
    Layout = "_Layout";
}


<header class="header bg-ui-general">

    <div class="header-action">
        <nav class="nav">

            <a class="nav-link" href="/Receipt/SearchReceipt">Search Receipt</a>
            <a class="nav-link " href="/Receipt/CreateReceipt">Create Receipt</a>
            <a class="nav-link active" href="/Receipt/ReceiptList">Receipt List</a>
        </nav>
    </div>
</header><!--/.header -->
<!--
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          | Responsive tables
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          !-->
<div class="col-12">
    <div class="card">
        <h4 class="card-title"><strong>Receipts</strong></h4>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-6">

                    <br class="clearfix" />

                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="Enter Bill Number">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-center" type="button">Details</button>
                        </span>
                    </div>
                </div>
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />
            </div>


           <div class="row">
               <div class="col-md-12">

                   <table class="table table-responsive">
                       <thead>
                           <tr>
                               <th>#</th>
                               <th>Bill Number</th>
                               <th>Payee</th>
                               <th>Description</th>
                               <th>Transaction Date</th>
                               <th>Action</th>
                           </tr>
                       </thead>
                       <tbody>
                          @foreach (var line in Model)
                            {
                               <tr>
                                   <th scope="row">#</th>
                                   <td>@line.BillNumber</td>
                                   <td>@line.PayeeId</td>
                                   <td>@line.Description</td>
                                   <td>@line.TransactionDate</td>
                                   <td><a href="/Receipt/ReceiptDetail?receiptId=@line.Id" class="btn btn-w-md btn-bold btn-warning">VIEW</a></td>
                               </tr>
                            }
                       </tbody>
                   </table>
               </div>
           </div>
        </div>
    </div>
</div>


