
@{
    ViewData["Title"] = "CreateReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header bg-ui-general">

    <div class="header-action">
        <nav class="nav">
            <a class="nav-link active" href="/Receipt/SearchReceipt">Search Receipt</a>
        </nav>
    </div>
</header><!--/.header -->

<div class="main-content">
    @if (TempData["SearchNotFound"] != null)
    {

        <div class="alert alert-danger">
             @TempData["SearchNotFound"].ToString() 
        </div>
    }

    <div class="row">


        <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Basic controls
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
        <div class="col-12">
            <div class="card">
                <h4 class="card-title"><strong>Search</strong> Receipt</h4>
                <div class="card-body">

                    <form asp-action="SearchReceiptResult" asp-controller="Receipt" method="get">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <hr class="d-md-none">
                                <label for="date">Start Date</label><br/>
                                <div class="input-group  required">
                                    <input type="text" name="startDate" class="form-control" placeholder="Date" data-provide="datepicker" data-autoclose="true"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <hr class="d-md-none">
                                <label for="date">End Date</label><br/>
                                <div class="input-group  required">
                                    <input type="text" name="endDate" class="form-control" placeholder="Date" data-provide="datepicker" data-autoclose="true"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <br class="clearfix"/>
                        <div class="row">

                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <hr class="d-md-none">
                                <div class="form-group">
                                    <label>Payee</label>
                                    <select name="payee" class="form-control">
                                        <option value="">-- Select One --</option>
                                        <option value="Ezeora Nnanna">Ezeora Nnanna</option>
                                        <option value="Okeke Ifeanyi">Okeke Ifeanyi</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <hr class="d-md-none">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="text" name="amount" class="form-control" placeholder="Enter Amount"/>
                                </div>
                            </div>
                        </div>
                        <br class="clearfix"/>
                        <div class="row">

                            <div class="col-md-2"></div>
                            <div class="col-md-8">

                                <button type="submit" class="btn btn-primary pull-right">Search</button>
                            </div>
                        </div>

                    </form>
                    <br class="clearfix"/>
                    <br class="clearfix"/>
                    <br class="clearfix"/>
                    <br class="clearfix"/>
                    <br class="clearfix"/>
                </div>
            </div>
        </div>


    </div>
</div><!--/.main-content -->


