@model FMS.Models.Account.BankDetailView;
@{
    ViewData["Title"] = "Add Bank Detail";
    Layout = "_Layout";

    var bankList = Model.BankList;
}


<div class="main-content">
    <div class="row">


        <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Basic controls
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
        <div class="col-12">
            <div class="card">
                <h4 class="card-title">Add User - Bank Details</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                </div>
                <div class="card-body">
                    <form asp-action="SaveBankDetail" asp-controller="Account" method="post">

                        <div class="row">

                            <div class="col-md-4">
                                <hr class="d-md-none">
                                <div class="form-group">
                                    <label>Bank: </label>
                                    <select asp-for="Bank" class="form-control">
                                        <option value="">-- Select Bank --</option>

                                        @foreach (var bank in bankList)
                                        {
                                            <option value="@bank.Id">@bank.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <hr class="d-md-none">
                                <div class="form-group">
                                    <label>Acount Name <span class="req">*</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Account Name" asp-for="AccountName"/>
                                </div>
                            </div>
                        </div>

                        <br class="clearfix"/>
                        <div class="row">

                            <div class="col-md-4">
                                <hr class="d-md-none">
                                <div class="form-group">
                                    <label>Account Number: </label>
                                    <input type="text" class="form-control" placeholder="Enter Account Number" asp-for="AccountNumber"/>
                                </div>
                            </div>

                        </div>
                        <br class="clearfix"/>


                        <div class="row">

                            <div class="col-md-4">
                                <hr class="d-md-none">
                                <div class="form-group">
                                    <label>BVN: </label>
                                    <input type="text" class="form-control" placeholder="Enter BVN" asp-for="BVN"/>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <hr class="d-md-none">
                                <div class="form-group">
                                    <label>TIN <span class="req">*</span></label>
                                    <input type="text" class="form-control" placeholder="Enter TIN" asp-for="TIN"/>
                                </div>
                            </div>
                        </div>
                        <br class="clearfix"/>

                        <div class="row">
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-w-md btn-bold btn-primary pull-right">Next</button>
                            </div>
                        </div>

                    </form>
                    <br class="clearfix"/><br class="clearfix"/><br class="clearfix"/><br class="clearfix"/>
                </div>
            </div>
        </div>





    </div>
</div><!--/.main-content -->

