
@{
    Layout = "_Layout";
}

<header class="header bg-ui-general">

    <div class="header-action">
        <nav class="nav">
            <a class="nav-link" href="/Payment/SearchPayment">Search Payment</a>
            <a class="nav-link" href="/Payment/CreatePayment">Create Payment</a>
            <a class="nav-link active" href="/Payment/PaymentList">Payment List</a>
        </nav>
    </div>
</header><!--/.header -->


<!--
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          | Responsive tables
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          !-->
<div class="col-12">
    <div class="card">
        <h4 class="card-title"><strong>Payments</strong></h4>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-6">

                    <br class="clearfix" />

                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="Enter Bill Number">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-center" type="button">Details</button>
                        </span>
                    </div>
                </div>
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />
            </div>


            <div class="row">
                <div class="col-md-12">

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
