
<nav class="sidebar-navigation">
    <ul class="menu">
        <li class="menu-category">MENU</li>
        <li class="menu-item">
            <a class="menu-link" href="/">
                <span class="icon fa fa-home"></span>
                <span class="title">Dashboard</span>
            </a>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="icon fa fa-pie-chart"></span>
                <span class="title">Budget Manager</span>
                <span class="arrow"></span>
            </a>
            <ul class="menu-submenu">
                <li class="menu-item">
                    <a class="menu-link" href="/Budget/CreateBudget">
                        <span class="dot"></span>
                        <span class="title">Create Budget</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/Budget/LoadBudget">
                        <span class="dot"></span>
                        <span class="title">Load Budget</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/Budget">
                        <span class="dot"></span>
                        <span class="title">Budget List</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="icon fa fa-money"></span>
                <span class="title">Bill Manager</span>
                <span class="arrow"></span>
            </a>
            <ul class="menu-submenu">
                <li class="menu-item">
                    <a class="menu-link" href="/BillReceivable">
                        <span class="dot"></span>
                        <span class="title">Receivables</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/BillPayable">
                        <span class="dot"></span>
                        <span class="title">Payables</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="icon fa fa-calculator"></span>
                <span class="title">Accounting</span>
                <span class="arrow"></span>
            </a>
            <ul class="menu-submenu">
                <li class="menu-item">
                    <a class="menu-link" href="/Receipt/SearchReceipt" data-toggle="modal" data-target="#modal-receipt">
                        <span class="dot"></span>
                        <span class="title">Receipts</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/Payment/SearchPayment" data-toggle="modal" data-target="#modal-payment">
                        <span class="dot"></span>
                        <span class="title">Payments</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/Journal">
                        <span class="dot"></span>
                        <span class="title">Journals</span>
                    </a>
                </li>
                @*                        <li class="menu-item">*@
                @*                            <a class="menu-link" href="/Reconcile/AddReconcile">*@
                @*                                <span class="dot"></span>*@
                @*                                <span class="title">Reconciliation</span>*@
                @*                            </a>*@
                @*                        </li>*@
            </ul>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="icon fa fa-users"></span>
                <span class="title">User Manager</span>
                <span class="arrow"></span>
            </a>
            <ul class="menu-submenu">
                <li class="menu-item">
                    <a class="menu-link" href="/Account/AddStaff">
                        <span class="dot"></span>
                        <span class="title">Add Staff</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/Account/AddCustomer">
                        <span class="dot"></span>
                        <span class="title">Add Customer</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/Account/AddSupplier">
                        <span class="dot"></span>
                        <span class="title">Add Supplier</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/Account">
                        <span class="dot"></span>
                        <span class="title">Manage User Account</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="icon fa fa-database"></span>
                <span class="title">Report Manager</span>
                <span class="arrow"></span>
            </a>
            <ul class="menu-submenu">
                <li class="menu-item">
                    <a class="menu-link" href="/Report">
                        <span class="dot"></span>
                        <span class="title">Generate Report</span>
                    </a>
                </li>
            </ul>
        </li>




    </ul>
</nav>

