
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<div class="main-content">
    <div class="row">

        <div class="col-12">
            <div class="card">
                <h4 class="card-title"><strong>Report</strong> Manager</h4>
                <div class="card-body  dashboard-links">
                    
                    <div class="row">
                        
                        
                        <div class="col-sm-3 text-center">
                            <a href="">
                                <i class="fa fa-money"></i><br>
                                <h5>Report's on Bills</h5>
                            </a>
                        </div>
                        


                        <div class="col-sm-3 text-center">
                            <a href="">
                                <i class="fa fa-calculator"></i><br>
                                <h5>Report's on Accountings</h5>
                            </a>
                        </div>
                        
                        <div class="col-sm-3 text-center">
                            <a href="">
                                <i class="fa fa-users"></i><br>
                                <h5>Report's on System Users</h5>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
</div>


