@model FMS.Models.BillReceivable.CreateReceivableView
@{
    Layout = "_Layout";
}


    <div class="main-content">
        <div class="row">


            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Basic controls
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
            <div class="col-12">
                <div class="card">
                    <h4 class="card-title">Bill Receivable - Create</h4>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <form  asp-action="SaveBill" asp-controller="BillReceivable">
                            <div class="row">

                                <div class="col-md-8">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <hr class="d-md-none">
                                            <label for="date">Date</label><br />
                                            <div class="input-group  required">
                                                <input type="text" class="form-control date" placeholder="Date"  asp-for="TransactionDate"  readonly/>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <hr class="d-md-none">
                                            <div class="form-group">
                                                <label>Bill To <span class="req">*</span></label>
                                                <select class="form-control" asp-for="PayeeId" required>
                                                    <option value="">-- Select one --</option>
                                                    <option value="Ezeora Nnanna">Ezeora Nnanna</option>
                                                    <option value="Okeke Ifeanyi">Okeke Ifeanyi</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br class="clearfix" />

                            <div class="row">
                                <div class="col-md-8">
                                    <hr class="d-md-none">
                                    <div class="form-group">
                                        <label>Description <span class="req">*</span></label>
                                        <textarea type="text" class="form-control" asp-for="Description" maxlenght="140" rows="6" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <br class="clearfix" /><br class="clearfix" />
                            <h5 class="alert alert-info">Classification</h5><hr />
                            <div class="row">

                                <div class="col-md-4">
                                    <hr class="d-md-none">
                                    <div class="form-group">
                                        <label>Economic <span class="req">*</span></label>
                                        <select class="form-control" asp-for="Economic" required>
                                            <option value="">-- Select Economic --</option>
                                            <option value="CONSTRUCTION/PROVISION OF MILITARY BARACKS">CONSTRUCTION/PROVISION OF MILITARY BARACKS</option>
                                            <option value="CONSTRUCTION/PROVISION OF DEFENCE EQUIPMENTS">CONSTRUCTION/PROVISION OF DEFENCE EQUIPMENTS</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <hr class="d-md-none">
                                    <div class="form-group">
                                        <label>Function</label>
                                        <select class="form-control" asp-for="Function" disabled>
                                            <option value="">-- Select Function [Disabled] --</option>
                                            <option value="EXECUTIVE AND LEGISLATIVE ORGANS">EXECUTIVE AND LEGISLATIVE ORGANS</option>
                                            <option value="FINANCIAL AND FISCAL AFFAIRS">FINANCIAL AND FISCAL AFFAIRS</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">


                                <div class="col-md-4">
                                    <hr class="d-md-none">
                                    <div class="form-group">
                                        <label>Fund <span class="req">*</span></label>
                                        <select class="form-control" asp-for="Fund" required>
                                            <option value="">-- Select Fund  --</option>
                                            <option value="FAAC DIRECT ALLOCATION">FAAC DIRECT ALLOCATION</option>
                                            <option value="MAIN ENVELOP - BUDGETARY ALLOCATION">MAIN ENVELOP - BUDGETARY ALLOCATION</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <hr class="d-md-none">
                                    <div class="form-group">
                                        <label>Geo Code</label>
                                        <select class="form-control" asp-for="GeoCode" disabled>

                                            <option value="">-- Select Geo Code [Disabled] --</option>
                                            <option value="ABUJA MUNICIPAL">ABUJA MUNICIPAL</option>
                                            <option value="GWAGWALADA">GWAGWALADA</option>

                                        </select>
                                    </div>
                                </div>

                            </div>

                            <br class="clearfix" /><br class="clearfix" />
                            <h5 class="alert alert-info">Details</h5><hr />

                            <div class="row">

                                <div class="col-md-4">
                                    <hr class="d-md-none">
                                    <div class="form-group">
                                        <label>Rate</label>

                                        <input type="text" class="form-control" placeholder="Disable" asp-for="Rate" disabled />

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <hr class="d-md-none">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input type="text" class="form-control" placeholder="Disable" asp-for="Quantity" disabled />

                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <hr class="d-md-none">
                                    <div class="form-group">
                                        <label>Currency </label>


                                        <input type="text" class="form-control" placeholder="Disable" name="Currency" disabled />

                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <hr class="d-md-none">
                                    <div class="form-group">
                                        <label>Amount <span class="req">*</span></label>


                                        <input type="text" class="form-control amount" placeholder="Enter Amount" asp-for="Amount" required />

                                    </div>
                                </div>
                            </div>


                            <br class="clearfix" />
                            <div class="row">

                                <div class="col-md-8">

                                    <button type="submit" class="btn btn-w-md btn-bold btn-primary pull-right">Create</button>

                                </div>
                            </div>

                        </form>
                        <br class="clearfix" /><br class="clearfix" /><br class="clearfix" /><br class="clearfix" />
                    </div>
                </div>
            </div>





        </div>
</div><!--/.main-content -->

@section scripts
{
    <script>
        $(document).on('keyup', '.amount', function() {
            var x = $(this).val();
            $(this).val(x.toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });
    </script>
}


