@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}


@if (TempData["AlertMessage"] != null)
{

    <div class="alert alert-success">
        @TempData["AlertMessage"]
    </div>
}

<div class="main-content">
    <div class="row">

        <div class="col-12">
            <div class="card">
                <h4 class="card-title"><strong>Receivables</strong></h4>
                <div class="card-body  dashboard-links">

                    <div class="row">


                        <div class="col-sm-3 text-center">
                            <a href="/BillReceivable/CreateBill">
                                <i class="fa fa-pencil-square-o"></i><br>
                                <h5>Create Bill</h5>
                            </a>
                        </div>


                        <div class="col-sm-3 text-center">
                            <a href="/BillReceivable/BillList?billStatus=DRAFT">
                                <i class="fa fa-tasks"></i><br>
                                <h5>Drafted Bills</h5>
                            </a>
                        </div>
                        
                        <div class="col-sm-3 text-center">
                            <a href="/BillReceivable/BillList?billStatus=FORWARDED">
                                <i class="fa fa-chevron-circle-right"></i><br>
                                <h5>Forwarded Bills</h5>
                            </a>
                        </div>
                        
                        <div class="col-sm-3 text-center">
                            <a href="/BillReceivable/BillList?billStatus=REVIEWED">
                                <i class="fa fa-tags"></i><br>
                                <h5>Reviewed Bills</h5>
                            </a>
                        </div>

                        <div class="col-sm-3 text-center">
                            <a href="/BillReceivable/BillList?billStatus=APPROVED">
                                <i class="fa fa-check-square-o"></i><br>
                                <h5>Approved Bills</h5>
                            </a>
                        </div>


                        <div class="col-sm-3 text-center">
                            <a href="/BillReceivable/BillList?billStatus=FORWARD_REJECTED">
                                <i class="fa fa-minus-square"></i><br>
                                <h5>Rejected Forward Bills</h5>
                            </a>
                        </div>
                        

                        <div class="col-sm-3 text-center">
                            <a href="/BillReceivable/BillList?billStatus=REVIEW_REJECTED">
                                <i class="fa fa-minus-square"></i><br>
                                <h5>Rejected Review Bills</h5>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
